@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.App {
  background-color: #003755;
  font-family: sofia-pro,sans-serif;
}

.menu-icon {
  width: 19px;
  margin-bottom: -3px;
  margin-right: 5px;
}
.menu-logo {
  float: left;
  width: 20px;
  height: 20px;
  /* margin-top: 25px; */
}
.open{
  background-image: url("./components/open.svg");
}
.close{
  background-image: url("./components/close.svg");
}
.menu-title{
  background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position-y: 4px;
    margin: 0;
}
.menu-trigger {
  font-weight: 500;
  margin: 0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.menu-trigger i {
  margin-right: 10px;
  width: 20px;
}

.mega-wrapper {
  z-index: 99999;
  position: absolute;
  min-height: 500px;
  width: 100%;
  background-color: #003755;
  /* top: 86px; */
  color: #fff; 
  border-top: 1px solid #fff;
}

.inner-menu-list {
  padding: 20px;
  height: 250px;
}

.menu-parent {
  border-bottom: 1px solid #fff;
  /* width: fit-content; */
  /* padding-right: 20px; */
  font-weight: 400;
  padding-bottom: 10px;
  font-size: 20px;
}

.menu-child-list {
  padding: 0;
  list-style: none;
}

.menu-child-title {
  margin-bottom: 7px;
}

.menu-child-title a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.menu-child-title a:hover {
  color: #f37320;
}

.right-block {
  background-image: url("https://monjasa.com/wp-content/themes/b4st-master/theme/img/404.jpg");
  background-size: cover;
  height: 500px;
  display: block;
  right: -8px;
  background-position: center center;
}

.inner-campaign {
  background-color: rgba(243, 115, 32, 0.8313725490196079);
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.responsive-img {
  max-width: 100%;
  height: 68px;
  width: 100%;
}

.news-grid {
  margin-bottom: 20px !important;
}

.news-title {
  margin: 0;
  padding: 0;
  margin-top: -6px;
  color: #fff;
}

.news-desc {
  margin: 0;
  font-size: 11px;
  color: #fff;
}

.news-image {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.no-decoration {
  text-decoration: none !Important;
  color: #fff !Important;
}
